body
{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}
.loading-window
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, .6);
    line-height: 100vh;
    text-align: center;
}

.loading-window-img
{
    width:100px; 
    vertical-align: middle;
}

.navigation-bar
{
    width: 100%;
    padding: 10px;
    font: 30px 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    padding-left: 100px;
}

.title-text
{ 
    margin: 0;
}

.title-svg
{
    width: 30px;
    height: 30px;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2196f3;
    padding-bottom: 50px;
    min-height: 100vh;
}

.description-text
{
    margin-top: 50px;
    font: 30px 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    text-align: center;
}


.search-bar
{
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 10px;
}

.row-s
{
    display: flex;
    width: 900px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.row-s .btn-success
{
    background-color: #f57c00;
    border: #f57c00;
    border-radius: 5px;
    font-size: 1.375rem;
    color: #fff;
    font-weight: 500;
    padding: 10px 15px;
}

.btn-lg 
{
    background-color: #f57c00 !important;
    border: #f57c00 !important;
    color: #fff;
    font-weight: 500;
}

.row .btn-success,
.row .btn,
.row .btn-lg
{
    background-color: #f57c00 !important;
}

.btn-lg:hover,
.row-s .btn-success:hover
{
    background-color: #ff9c3a !important;
}


/* Вывод результатов */
body
{
    border-radius: 2px;
    background-color: #eff2f5;
}

.shipping-offers
{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #d4d8dd;
    border-radius: 4px;
    display: none;
    background-color: #fafbfc;
    margin-bottom: 20px;
}

.shipping-offers-active
{
    display: block;
}

.carrier
{
    padding: 15px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d8dd;
}

.carrier:last-child
{
    border-bottom: none;
}

/* logo */
.carrier-logo
{
    align-self: stretch;
    width: 80px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

.carrier-receiving-date,
.carrier-shipping-date
{
    width: 120px;
}

.carrier-price{
    width: 160px;
}

.carrier-logo-cdek
{
    background-image: url('/static/img/cdek_color.svg');
}

.carrier-logo-dpd
{
    background-image: url('/static/img/dpd_color.svg');
}


.carrier-logo-ponyexpress
{
    background-image: url('/static/img/pony_color.png');
}

.carrier-logo-boxberry
{
    background-image: url('/static/img/boxberry_color.png');
}

.next-row
{
    border:1px solid #d4d8dd !important; 
}


/* Окна заказа */


