.loading-window
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, .6);
    line-height: 100vh;
    text-align: center;
}

.loading-window-img
{
    width:100px; 
    vertical-align: middle;
}
