<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Jquery -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <!-- jQuery UI-->
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.8.24/jquery-ui.min.js" integrity="sha256-UOoxwEUqhp5BSFFwqzyo2Qp4JLmYYPTHB8l+1yhZij8="
        crossorigin="anonymous"></script>
    <!-- Jquery UI -->
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Icons -->
    <!-- App scripts and styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div id="loader" style="position: fixed; left:0; top:0; width:100%; height:100%; background-color: rgba(148, 148, 148, 0.43); display: none;">
        <img style="width:250px; height:250px; left:0; right:0; top:0; bottom:0; margin:auto; position: absolute; " src="static/img/1.gif">
    </div>
    <div id="calc" class="section">
        <div class="row" style="margin:0; padding:30px; width: 100%; text-align: center;">
            <div class="row" style="margin:auto; padding:0; max-width: 608px; display: inline;">
                <div style="display: inline-block; margin:0; padding:0; width: 250px; ">
                    <input id="city1" class="form-control" type="text" placeholder="Откуда:" required>

                </div>
                <div id="deliveryTypeFrom" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="fromDelivery" value="door" id="door1" autocomplete="off" checked>
                        Дверь
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="fromDelivery" value="storage" id="storage1" autocomplete="off">
                        Склад
                    </label>

                </div>
                <div style="display: inline-block; margin:0; padding:0; padding-left: 10px;  width: 250px; ">
                    <input id="city2" class="form-control" type="text" placeholder="Куда:" required>

                </div>
                <div id="deliveryTypeTo" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="toDelivery" value="door" id="door2" autocomplete="off" checked>
                        Дверь
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="toDelivery" value="storage" id="storage2" autocomplete="off">
                        Склад
                    </label>

                </div>

                <div style="display: inline-block; margin:0; padding:0; padding-left: 10px; text-align:right; width: 100px; ">
                    <button id="calcBtn1" class="btn btn btn-success">Найти</button>
                </div>
            </div>
        </div>
        <div id="prop-holder" class="row" style="margin:0; padding:30px;  width:100%; display: none;">
            <div class="row" style="margin:auto; padding:0; max-width: 600px; padding: 24px; border: 1px solid gray; border-radius: 15px;">
                <div style="width:100%; ">
                    <label for="dateExecute">Дата отправки:</label>
                    <input id="dateExecute" class="form-control" type="date" value="2018-11-30">
                    <!-- <label for="tariff">Варианты доставки:</label> -->
                    <!-- <select id="tariff"  class="form-control">
                       
                    </select> -->
                </div>
                <div style="display: inline-block; width:50%; padding-top: 10px;">
                    <label for="weight">Вес, кг</label>
                    <input id="weight" class="form-control" min="0.0" value='0.3' type="number" />
                </div>
                <div id="calcVariantDiv" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="calcVariant" value="variant1" autocomplete="off" checked> ДВШ
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="calcVariant" value="variant2" autocomplete="off"> Объем
                    </label>

                </div>
                <div id="variant1">
                    <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="length">Длина, см </label>
                        <input id="length" class="form-control" min="0.0" value="10" type="number" />
                    </div>
                    <div style="display: inline-block; width:50%; padding-top: 10px;">
                        <label for="width">Ширина, см</label>
                        <input id="width" class="form-control" min="0.0" value="7" type="number" />
                    </div>
                    <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="height">Высота, см</label>
                        <input id="height" class="form-control" min="0.0" value="5" type="number" />
                    </div>
                </div>
                <div id="variant2" style="display:none;">
                    <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="size">Объем, м3 </label>
                        <input id="size" class="form-control" value="5" type="number" />
                    </div>
                </div>

                <div style="width:100%; padding-top: 20px; text-align: center;">
                    <button id="calcBtn" class="btn btn-lg btn-success">Рассчитать стоимость</button>
                </div>
            </div>
        </div>


        <div id="sdek-output" class="row" style="margin:0; padding:30px;  width:100%; display: none;">
        </div>

        <div id="dpd-output" class="row" style="margin:0; padding:30px;  width:100%; display: none;">
        </div>


        <div id="pony-output" class="row" style="margin:0; padding:30px;  width:100%; display: none;">
        </div>


        <div id="boxberry-output" class="row" style="margin:0; padding:30px;  width:100%; display: none;">
        </div>

    </div>
    {% include "sdek_order.html" %}
    
</body>

</html>