.navigation-bar
{
    width: 100%;
    padding: 10px;
    font-size: 30px;
    font: 30px 'ZCOOL XiaoWei', serif;
    color: #fff;
    margin-left: 100px;
}

.title-text
{ 
    margin: 0;
}

.title-svg
{
    width: 30px;
    height: 30px;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-image: linear-gradient(to bottom, #033d93, #00409f, #0042ab, #0044b6, #0046c2, #0a4ecb, #1357d5, #1a5fde, #2b6fe7, #3c7fef, #4d8ef7, #5e9efe);
}

.description-text
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font: 30px 'Montserrat', sans-serif;
    color: #fff;
    align-items: center;
}


.search-bar
{
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 10px;
}

.row-s
{
    display: flex;
    width: 900px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.row-s .btn-success
{
    background-color: rgb(7, 77, 182);
}

.row-s .btn-success:hover
{
    background-color: rgb(3, 42, 104);
}

