<div id="sdek-order" class="" style="display: none;">
   
    <div id="order-holder" class="row" style="margin:0; padding:30px;  width:100%;">
            
        <div class="row" style="margin:auto; padding:0; min-width: 600px; min-height: 600px; padding: 24px; border: 1px solid gray; border-radius: 15px; background-color: white;">
                <div style="position: relative; top: 0; left: 2%;">
                    <span id="close-sdek-order" style="font-size: 2.5rem; cursor: pointer;"><i class="fas fa-times"></i></span> 
                 </div>
            <div id="cdek-page-0">
                <h3>Проверьте детали заказа:</h3>
                <h5>Дата отправки: <span id="dateExecuteCheck"></span></h5>
                <h5>Стоимость: <span id="priceCheck"></span> рублей</h5>
                <hr>
                <h5>Данные заказа</h5>
                <h5>Вес: <span id="weightCheck"></span></h5>
                <h5>Длина: <span id="lengthCheck"></span></h5>
                <h5>Высота: <span id="heightCheck"></span></h5>
                <h5>Ширина: <span id="widthCheck"></span></h5>


                <div style="width:100%; padding-top: 20px; text-align: center;">
                    <button id="toPage-1"  class="btn btn-lg btn-success order-foward-btn">Продолжить</button>
                </div>
            </div>
            <div id="cdek-page-1" style="display: none;">
                        
                <!-- <h3>Город отправителя: <span id="send-city"></span></h3> -->
                
                <div id="send-door">
                    <h3>Адрес отправителя</h3>
                    <!-- <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="send-street">Улица</label>
                        <input id="send-street" class="form-control" required type="text" />
                    </div>
                    <div style="display: inline-block; width:50%; padding-top: 10px;">
                        <label for="send-house">Дом</label>
                        <input id="send-house" class="form-control" required type="text" />
                    </div>
                    <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="send-flat">Квартира</label>
                        <input id="send-flat" class="form-control" required type="text" />
                    </div> -->

                    <form id="send-address" >
                        <div class="field">
                            <label>Город</label>
                            <input class="form-control" type="text" id="send-city">
                        </div>
                        <div class="field">
                            <label>Улица</label>
                            <input class="form-control" type="text" id="send-street">
                        </div>
                        <div class="field">
                            <label>Дом</label>
                            <input class="form-control" type="text" id="send-house">
                        </div>
                        <div class="field">
                            <label>Квартира</label>
                            <input class="form-control" type="text" id="send-flat">
                        </div>
                       
                        
                        <div class="tooltip" style="display: none;"><b></b><span></span></div>
                    </form>



                </div>
                
                <div style="display: inline-block; width:50%; padding-top: 10px;">
                    <label for="sender-name">Имя Фамилия отправителя</label>
                    <input id="sender-name" class="form-control" type="text" />
                </div>
                <div style="display: inline-block; width:50%; padding-top: 10px;">
                    <label for="send-phone">Телефон отправителя</label>
                    <input id="send-phone" class="form-control" type="tel" />
                </div>
                
                <div id="send-storage" style="display: none;">
                    <label for="sdek-dropdown-from">Адрес отправки</label>
                    <select id="sdek-dropdown-from"></select>
                    <p id="full-address-from"></p>
                </div>

                <div style="width:100%; padding-top: 20px; text-align: center;">
                    <button id="backToPage-0" class="btn btn-lg btn-success order-back-btn">Назад</button>
                    <button id="toPage-2"  class="btn btn-lg btn-success order-foward-btn">Продолжить</button>
                </div>
            </div>

            <div id="cdek-page-2" style="display: none;">
                <!-- <h3>Город получателя: <span id="recieve-city"></span></h3> -->

                <div id="recieve-door">
                    <h3>Адрес получателя</h3>
                    <!-- <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="recieve-street">Улица</label>
                        <input id="recieve-street" class="form-control" required type="text" />
                    </div>
                    <div style="display: inline-block; width:50%; padding-top: 10px;">
                        <label for="recieve-house">Дом</label>
                        <input id="recieve-house" class="form-control" required type="text" />
                    </div>
                    <div style="display: inline-block; width:49%; padding-top: 10px;">
                        <label for="recieve-flat">Квартира</label>
                        <input id="recieve-flat" class="form-control" required type="text" />
                    </div> -->

                    <form id="recieve-address">
                        <div class="field">
                            <label>Город</label>
                            <input class="form-control" type="text" id="recieve-city">
                        </div>
                        <div class="field">
                            <label>Улица</label>
                            <input class="form-control" type="text" id="recieve-street">
                        </div>
                        <div class="field">
                            <label>Дом</label>
                            <input class="form-control" type="text" id="recieve-house">
                        </div>
                        <div class="field">
                            <label>Квартира</label>
                            <input class="form-control" type="text" id="recieve-flat">
                        </div>
                       
                        
                        <div class="tooltip" style="display: none;"><b></b><span></span></div>
                    </form>
                </div>
                
                <div id="recieve-storage" style="display: none;">
                    <label for="sdek-dropdown-to">Адрес получения</label>
                    <select id="sdek-dropdown-to"></select>
                    <p id="full-address-to"></p>
                </div>

                <!-- <div style="width:100%; ">
                        <label for="dateExecute">Дата отправки:</label>
                        <input id="dateExecute" class="form-control" type="date" value="2018-11-30">
                    </div> -->
                

                <div style="display: inline-block; width:50%; padding-top: 10px;">
                    <label for="reciever-name">Имя Фамилия получателя</label>
                    <input id="reciever-name" class="form-control" type="text" />
                </div>
                <div style="display: inline-block; width:50%; padding-top: 10px;">
                    <label for="reciever-phone">Телефон получателя</label>
                    <input id="reciever-phone" class="form-control" type="tel" />
                </div>
                <div  style="width:100%; padding-top: 20px; text-align: center; ">
                    <button id="backToPage-1" class="btn btn-lg btn-success order-back-btn">Назад</button>
                    <button id="sdekOrderBtn"  class="btn btn-lg btn-success">Заказать</button>
                </div>
            </div>
            
        </div>
    </div>
</div>